<suite name="CrossBrowserSuite" parallel="tests" thread-count="3">
    <test name="Chrome_QA">
        <parameter name="browser" value="chrome"/>
        <parameter name="env" value="qa"/>
        <classes>
            <class name="com.alchemist.tests.LoginTest"/>
        </classes>
    </test>
    <test name="Firefox_UAT">
        <parameter name="browser" value="firefox"/>
        <parameter name="env" value="uat"/>
        <classes>
            <class name="com.alchemist.tests.LoginTest"/>
        </classes>
    </test>
    <test name="Edge_PROD">
        <parameter name="browser" value="edge"/>
        <parameter name="env" value="prod"/>
        <classes>
            <class name="com.alchemist.tests.LoginTest"/>
        </classes>
    </test>
</suite>
